*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

body{
    background-color: #7FFFD4;
    font-family: sans-serif;
}

header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-inline: 30px;
    padding-block: 20px;
    background-color: white;
}